<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouc.dao.ShetuanUrlMapper">
    <select id="getUrlByName" resultType="String" parameterType="String">
        select url from shetuanurl where shetuanmingcheng=#{name}
    </select>
</mapper>