<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouc.dao.ZhiduMapper">
  <resultMap id="BaseResultMap" type="com.ouc.entity.Zhidu">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shetuanbianhao" jdbcType="VARCHAR" property="shetuanbianhao" />
    <result column="shetuanmingcheng" jdbcType="VARCHAR" property="shetuanmingcheng" />
    <result column="leibie" jdbcType="VARCHAR" property="leibie" />
    <result column="zhangjie" jdbcType="VARCHAR" property="zhangjie" />
    <result column="zhidumingcheng" jdbcType="VARCHAR" property="zhidumingcheng" />
    <result column="zhiduneirong" jdbcType="VARCHAR" property="zhiduneirong" />
    <result column="dengjiren" jdbcType="VARCHAR" property="dengjiren" />
    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shetuanbianhao,shetuanmingcheng,leibie,zhangjie,zhidumingcheng,zhiduneirong,dengjiren, addtime
  </sql>
  <select id="quchongZhidu"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from zhidu 
    where dengjiren = #{dengjiren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from zhidu  where 1=1
    <if test="shetuanbianhao!=null">and shetuanbianhao like  concat('%',#{shetuanbianhao,jdbcType=VARCHAR},'%')</if>
     <if test="shetuanmingcheng!=null">and shetuanmingcheng like  concat('%',#{shetuanmingcheng,jdbcType=VARCHAR},'%')</if>
     <if test="leibie!=null">and leibie like  concat('%',#{leibie,jdbcType=VARCHAR},'%')</if>
     <if test="zhangjie!=null">and zhangjie like  concat('%',#{zhangjie,jdbcType=VARCHAR},'%')</if>
     <if test="zhidumingcheng!=null">and zhidumingcheng like  concat('%',#{zhidumingcheng,jdbcType=VARCHAR},'%')</if>
     <if test="zhiduneirong!=null">and zhiduneirong like  concat('%',#{zhiduneirong,jdbcType=VARCHAR},'%')</if>
     <if test="dengjiren!=null">and dengjiren like  concat('%',#{dengjiren,jdbcType=VARCHAR},'%')</if>
     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhidu  where 1=1
    <if test="dengjiren!=null">
    and dengjiren =#{dengjiren}
    </if>
  </select>
  
  <select id="getsyzhidu1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhidu  where 1=1
    limit 0,5
  </select>
  <select id="getsyzhidu2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhidu  where 1=1
    limit 0,5
  </select>
  <select id="getsyzhidu3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhidu  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from zhidu where 1=1 
     <if test="shetuanbianhao!=null">and shetuanbianhao like  concat('%',#{shetuanbianhao,jdbcType=VARCHAR},'%')</if>
     <if test="shetuanmingcheng!=null">and shetuanmingcheng like  concat('%',#{shetuanmingcheng,jdbcType=VARCHAR},'%')</if>
     <if test="leibie!=null">and leibie like  concat('%',#{leibie,jdbcType=VARCHAR},'%')</if>
     <if test="zhangjie!=null">and zhangjie like  concat('%',#{zhangjie,jdbcType=VARCHAR},'%')</if>
     <if test="zhidumingcheng!=null">and zhidumingcheng like  concat('%',#{zhidumingcheng,jdbcType=VARCHAR},'%')</if>
     <if test="zhiduneirong!=null">and zhiduneirong like  concat('%',#{zhiduneirong,jdbcType=VARCHAR},'%')</if>
     <if test="dengjiren!=null">and dengjiren like  concat('%',#{dengjiren,jdbcType=VARCHAR},'%')</if>
     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zhidu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zhidu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ouc.entity.Zhidu">
    insert into zhidu (id, shetuanbianhao,shetuanmingcheng,leibie,zhangjie,zhidumingcheng,zhiduneirong,dengjiren, addtime)
    values (#{id,jdbcType=INTEGER}, #{shetuanbianhao,jdbcType=VARCHAR},#{shetuanmingcheng,jdbcType=VARCHAR},#{leibie,jdbcType=VARCHAR},#{zhangjie,jdbcType=VARCHAR},#{zhidumingcheng,jdbcType=VARCHAR},#{zhiduneirong,jdbcType=VARCHAR},#{dengjiren,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ouc.entity.Zhidu">
    insert into zhidu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shetuanbianhao != null"> shetuanbianhao, </if>
      <if test="shetuanmingcheng != null"> shetuanmingcheng, </if>
      <if test="leibie != null"> leibie, </if>
      <if test="zhangjie != null"> zhangjie, </if>
      <if test="zhidumingcheng != null"> zhidumingcheng, </if>
      <if test="zhiduneirong != null"> zhiduneirong, </if>
      <if test="dengjiren != null"> dengjiren, </if>
      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shetuanbianhao != null"> #{shetuanbianhao,jdbcType=VARCHAR},</if>
      <if test="shetuanmingcheng != null"> #{shetuanmingcheng,jdbcType=VARCHAR},</if>
      <if test="leibie != null"> #{leibie,jdbcType=VARCHAR},</if>
      <if test="zhangjie != null"> #{zhangjie,jdbcType=VARCHAR},</if>
      <if test="zhidumingcheng != null"> #{zhidumingcheng,jdbcType=VARCHAR},</if>
      <if test="zhiduneirong != null"> #{zhiduneirong,jdbcType=VARCHAR},</if>
      <if test="dengjiren != null"> #{dengjiren,jdbcType=VARCHAR},</if>
      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouc.entity.Zhidu">
    update zhidu
    <set>
	  <if test="shetuanbianhao != null"> shetuanbianhao = #{shetuanbianhao,jdbcType=VARCHAR},</if>
      <if test="shetuanmingcheng != null"> shetuanmingcheng = #{shetuanmingcheng,jdbcType=VARCHAR},</if>
      <if test="leibie != null"> leibie = #{leibie,jdbcType=VARCHAR},</if>
      <if test="zhangjie != null"> zhangjie = #{zhangjie,jdbcType=VARCHAR},</if>
      <if test="zhidumingcheng != null"> zhidumingcheng = #{zhidumingcheng,jdbcType=VARCHAR},</if>
      <if test="zhiduneirong != null"> zhiduneirong = #{zhiduneirong,jdbcType=VARCHAR},</if>
      <if test="dengjiren != null"> dengjiren = #{dengjiren,jdbcType=VARCHAR},</if>
      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.ouc.entity.Zhidu">
    update zhidu
    set shetuanbianhao = #{shetuanbianhao,jdbcType=VARCHAR},shetuanmingcheng = #{shetuanmingcheng,jdbcType=VARCHAR},leibie = #{leibie,jdbcType=VARCHAR},zhangjie = #{zhangjie,jdbcType=VARCHAR},zhidumingcheng = #{zhidumingcheng,jdbcType=VARCHAR},zhiduneirong = #{zhiduneirong,jdbcType=VARCHAR},dengjiren = #{dengjiren,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
